# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio C++ 
.vs
debug/
release/
*.user  
bin/
tmp/
x64/
win32/
*.tlog
*.log
*.idb
*.pdb
*.exp
*.obj
*.pch
*.cur

